<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>555709465236-unm87q1lis59buhljh0b0d50ipboceai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555709465236-unm87q1lis59buhljh0b0d50ipboceai</string>
	<key>API_KEY</key>
	<string>AIzaSyA0B2GsFxBxFyKUuSyUjEGj6JwyoHvTkUU</string>
	<key>GCM_SENDER_ID</key>
	<string>555709465236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.durgaprasad814.DrawerNavigation</string>
	<key>PROJECT_ID</key>
	<string>drawernavigation</string>
	<key>STORAGE_BUCKET</key>
	<string>drawernavigation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555709465236:ios:96b38b48bb37223c</string>
	<key>DATABASE_URL</key>
	<string>https://drawernavigation.firebaseio.com</string>
</dict>
</plist>